<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Contact</a>
        <div class="navbar-dark bg-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/me">
                        Home
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/me/projects">
                        Projects
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/me/resume">
                        Resume
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/me/skills">
                        Skills
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<br>
<br>
<main class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 rounded shadow=sm">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Contact Info</h6>
        </div>
    </div>
    <br>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Phone Number</h6>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                785-431-6763
            </p>
        </div>
    </div>
    <br>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Email</h6>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                martin.isiah5264@gmail.com
            </p>
        </div>
    </div>
    <br>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Linkin</h6>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                Need to be filled
            </p>
        </div>
    </div>
    <br>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">GitHub</h6>
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <a href="https://github.com/imartin5264">https://github.com/imartin5264</a>
            </p>
        </div>
    </div>
</main>