<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Home</a>
        <div class="navbar-dark bg-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/me/projects">
                        Projects
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/me/contactinfo">
                         Contact
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/me/resume">
                        Resume
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/me/skills">
                        Skills
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="backgrd-color">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 id="me-textsize">Isiah Martin</h1> 
            <p class="desribe-me-textsize">
                Front End & Back End
            </p>
            <p id="desribe-me-textsize2">
                Developer
            </p> 
        </div>
    </div>
</main class>